 .flower-one{
height:290px;
width: 300px;
display: flex;

 }
 .first-work{
     display: flex;
    margin: 60px;
    padding: 20px;
    justify-content: space-between;
    
    
    
 }
 .bng-color{
      background-color:#f8c8d3 ;
    height:  300px;
    max-width: 100%;
    padding: 100px;
 }

/* second image  */  
.div-class{
  display: flex;
  justify-content: center;
} 
  
 
 .pink{
    background-color: #fc3d63;
    border: none;
    border-radius: 5px;
 }
 .flower-tow{
    height: 250px;
    width: 200px;
 }    
   .flower-tow{
    padding: 20px;
     background-color: #f7d0d7;
    border: 2px solid black;
    border: none;
    margin: 20px;
    border-top-left-radius: 245px 245px;
    border-top-right-radius: 245px 245px;
     
   }
  
   .flower-three{
    height: 250px;
    width: 200px;
    padding: 20px;
    background-color:  rgb(202, 250, 250);
   border: 2px solid black;
   border: none;
   margin: 20px;
   border-top-left-radius: 245px 245px;
   border-top-right-radius: 245px 245px;
   }
   .flower-four{
     
    height: 250px;
    width: 200px;
    padding: 20px;
    background-color: #e7e6e6;
   border: 2px solid black;
   border: none;
   margin: 20px;
   border-top-left-radius: 245px 245px;
   border-top-right-radius: 245px 245px;
   }
    
    

     .second-pic{
        display: flex;
        height: 200px;
        width: 200px;
    }
    .work-three{
      display: flex;
      justify-content: space-around;
      gap: 5px;
    }
     .off{
      color: #fc3d63;
     }
  
     
      .blog{
        margin-top: 30px;
         background-color:#faf3f5 ;
         height:  200px;
         width:  100%;
         
          /* padding: 100px 0px; */
         text-align: center;
         
      }
      
        
        .full{
         height: 250px;
         width: 250px;
         padding-top:20px 100px;
          
        } 
        .divs{
           
           
          display: flex;
           justify-content: center;
           gap: 10px;
       }
        
          
         
       .work-five{
         background-image: url(" ../Flower Asset/Rectangle 9.png ");
         height:350px;
         width: 1100px;
         background-repeat: no-repeat;
          display: flex;
          flex-direction: column;
          justify-content: center;
         align-items: center;
          /* text-align:center */ 
          margin: 100px auto;  

       }
       .main{
        display: flex;
        text-align: center;
         
        
       }
        
       .button{
         background-color: #fa5374;
         color: white;
         height: 30px;
         width: 92px;
         border-radius: 2px;
         border: none;
       }
       .email{
         height: 29px;
         width: 500px;
         border-radius: 3px;
         border: none;
       }
       /* lust work  */
       .lust-work{
        height: 500px;
        width: 1300px;
        justify-content: center;
        flex-direction: column;
        display: flex;
         margin-top: 150px;
         background-color: black;
         color: white;
         justify-content: center;
          
         
       }
       .footer{
        display: flex;
          text-align: center;
           
       }
       .span{
        color: #fa5374;
       }
       .bold{
        
        text-align: center;
        margin-top: 100px;

       }
    .text{
      text-align: center;
    }
    .tree{
      text-decoration:underline
    }
        

       
        